<footer class="site-footer">
  <div class="container">
    <p>
      © {new Date().getFullYear()} Jack Woollams. Connect on
      <a
        href="https://www.linkedin.com/in/jackwoollams/"
        target="_blank"
        rel="noreferrer">LinkedIn</a
      >
      and
      <a href="https://github.com/Id3nt1tyDEV" target="_blank" rel="noreferrer"
        >GitHub</a
      >.
    </p>
  </div>
</footer>
